## START UP CONFIGURATION FOR THE ENGINE

## Window Information
Window Title: Default Window Title
Window Width: 800
Window Height: 600
Window Position X: 500
Window Position Y: 200
Fullscreen: false
Background Color: 1.0 0.5 0.5 1.0

## FPS
Target FPS: 60

## Scene
Default Scene: assets/scene.cs418scene