## START UP CONFIGURATION FOR THE ENGINE

## Window Information
Window Title: CS 418 - MP3
Window Width: 10920
Window Height: 1080
Window Position X: 400
Window Position Y: 100
Fullscreen: false
Background Color: CornflowerBlue

## FPS
Target FPS: 60

## Allow for post processing
Enable Post Processing: True